:root {
    font-family: 'Open Sans', sans-serif;
    --white: #f8f8f8;
    --red: #7b1a1d;
    --black: #191a1a;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    top: 0;
    left: 0;
}

body {
    background-color: var(--red);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
}

h3 {
    margin-top: 0px;
    color: var(--white);
    background-color: var(--black);
}

.headline {
    color: var(--white);
}

label {
    position: relative;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

.char-thumbnail:link {
    color: var(--white);
}

input[type="radio"]:checked + img{
    color: var(--white);
}

div .commands{
    font-size: 20px;
}

main {
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--red);
}

#main-content {
    display: flex;
}

.char-thumbnail {
    display: block;
    margin: 0em;
    padding: 0em;
    border: 15px solid;
    color: var(--black);
}

.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--white);
    background-color: rgba(26, 26, 26, 0.75);
    white-space: nowrap;
    padding: 0em;
    margin: 0em;
}

.move-link {
    background-color: var(--black);
    color: var(--white);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

#character-select {
    background-color: var(--black);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
}

.move-nav {
    margin: 0em;
    padding: 0em;
    display: flex;
    list-style: none;
}

#movelist-menu {
    background-color: var(--white);
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #767878;
}

@media (max-width: 480px) {
    main {
        top: 60px;
    }

    #main-content {
        flex-direction: column;
    }

    h1 {
        font-size: 1.5em;
    }

    .headline {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        font-size: 1.25em;
    }

    h1 {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    #disclaimer {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .separator {
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .char-thumbnail {
        width: 106px;
        height: 105px;
    }

    #character-menu {
        width: 100%;
        height: 152px;
        overflow-x: scroll;
    }

    #characters {
        width: 100%;
    }

    #movelist {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #movelist-menu {
        width: 100%;
        height: 30vh;
        overflow-y: scroll;
    }

    .move-nav {
        width: 90%;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .move-nav-item {
        margin: 0.1em 0.1em;
        padding: 0em;
    }

    .move-link {
        margin: 0em 0.1em;
        padding: 0.1em;
        font-size: 0.75em;
    }

    .bottom-left {
        font-size: 1em;
    }

    div .commands{
        font-size: 16px;
    }
}

@media (min-width: 480px) and (max-width: 740px) {
    main {
        top: 60px;
    }

    #main-content {
        flex-direction: column;
    }

    .headline {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    h1 {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    #disclaimer {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .separator {
        display: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .char-thumbnail {
        width: 156px;
        height: 155px;
    }

    #character-menu {
        width: 100%;
        height: 202px;
        overflow-x: scroll;
    }

    #characters {
        width: 100%;
    }

    #movelist {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #movelist-menu {
        width: 100%;
        height: 42vh;
        overflow-y: scroll;
    }

    .move-nav {
        width: 90%;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        margin: 10px;
    }

    .move-nav-item {
        margin: 0.5em 0.5em;
        padding: 0em;
    }

    .move-link {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 1em;
    }

    .bottom-left {
        font-size: 1.5em;
    }
}

@media (min-width: 740px) {
    main {
        top: 90px;
    }

    .menu {
        width: 100%;
        height: 66vh;
        overflow-y: scroll;
    }

    .separator {
        margin-left: 10px;
        margin-right: 10px;
    }

    .char-thumbnail {
        width: 201px;
        height: 200px;
    }

    #character-select {
        flex-direction: column;
    }

    #character-menu {
        width: 241px;
        height: 72vh;
    }

    #movelist-menu {
        width: 60vw;
    }

    .move-nav {
        width: 60vw;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .move-nav-item {
        margin: 1em 0.5em;
    }

    .bottom-left {
        font-size: 2em;
    }
}