/* TODO
* Better font
* Better colors
* Stylized scrollbars
*/

/* header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
} */

body {
    background-color: #ea8e45;
}

@media (max-width: 500px) {
    section.panel {
        width: 200px;
        height: 750px;
        overflow-y: scroll;
    }
}

@media (min-width: 500px) {
    section.panel {
        width: 200px;
        height: 750px;
        overflow-y: scroll;
    }
    .char-thumbnail {
        width: 159px; /*106px;*/
        height: 158px; /*105px;*/
        border: 10px solid;
        color: #ab5042;
    }
    
    .separator {
        border-left: 6px solid black;
        margin-left: 20px;
        margin-right: 20px;
        height: 750px;
    }
    
    #movelist {
        width: 750px;
    }
}


.bottom-left {
    position: absolute;
    bottom: -3px;
    left: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    white-space: nowrap;
}

#main-content {
    display: flex;
}

label {
    position: relative;
    text-align: center;
}

input[type="radio"] {
    visibility: hidden;
}

.char-thumbnail:link {
    color: green;
}

.char-thumbnail:hover {
    color: blue;
    filter: hue-rotate(180deg);
}

/* .char-thumbnail:active {
    color: red;
} */

input[type="radio"]:checked + img{
    color: green;
}